body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}
.input-group {
    margin-top: 8px;
}
button[type=submit] {
    margin-top: 16px;
}
.bust_id {
    font-family: monospace;
}
