body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}
.form-bust {
    max-width: 640px;
    padding: 15px;
    margin: 0 auto;
}
.input-group {
    margin-top: 8px;
}
button {
    margin-top: 16px;
}
.bust_id {
    font-family: monospace;
}
